<h1>Edit <%= resource_name.to_s.humanize %></h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <span class="field">
    <span class="label"><%= f.label :name %></span>
    <span class="input"><%= f.text_field :name %></span>
  </span>

  <span class="field">
    <span class="label"><%= f.label :email %></span>
    <span class="input"><%= f.email_field :email %></span>
  </span>

  <span class="field">
    <span class="label"><%= f.label :password %></span>
    <span class="input"><%= f.password_field :password %></span>
    <span class="help"><p>Leave blank if you don't want to change it</p></span>
  </span>

  <span class="field">
    <span class="label"><%= f.label :password_confirmation %></span>
    <span class="input"><%= f.password_field :password_confirmation %></span>
  </span>

  <span class="field">
    <span class="label"><%= f.label :current_password %></span>
    <span class="input"><%= f.password_field :current_password %></span>
    <span class="help"><p>We need your current password to confirm your changes</p></span>
  </span>

  <span class="submit"><%= f.submit "Update" %></span>
<% end %>

<h1>Cancel my account</h1>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>