- title 'Register'
- content_for :top do
  %h2 Register
%p.explanation Due to security concerns, users must create an account using their <b>@uchicago.edu email address</b> before posting a listing. Other members of the community are welcome to browse and even create accounts, but cannot post listings at this time. If you have a cNetID but no <b>@uchicago.edu</b> address, register here and <a href="mailto:marketplace@lists.uchicago.edu" alt="UChicago Marketplace">email the moderators</a> with your cNetID, full name, and the email address you used for verification and promotion to seller. If you do not have a cNetID, then you are not eligible to post listings.
= form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f|
  = devise_error_messages!
  %span.field
    %span.label= f.label :name
    %span.input= f.text_field :name, :tabindex => autotab
  %span.field
    %span.label= f.label :email
    %span.input= f.email_field :email, :tabindex => autotab
  %span.field
    %span.label= f.label :password
    %span.input= f.password_field :password, :tabindex => autotab
  %span.field
    %span.label= f.label :password_confirmation
    %span.input= f.password_field :password_confirmation, :tabindex => autotab
  %span.submit= f.submit "Sign up", :tabindex => autotab
= render :partial => "devise/shared/links"
