- if listings.empty?
  %h1.sorry No results found
- else
  %table#listings-browser
    %tbody
      - listings.each do |listing|
        %tr.listing
          %td.image
            -unless listing.images.empty?
              .image= link_to( image_tag( listing.images.first.photo.url( :thumb ) ), listing )
          %td.description_and_details
            .description= link_to listing.description, listing
            .truncated-details= truncate strip_tags(listing.details.markdown), :length => 125, :omission => '...'
            .show-more= link_to "Show More", "", :class => "show-more", :id => "expand"
            .extras
              .details= strip_tags(listing.details.markdown)
            %ul.actions
              %li.compare= link_to 'Compare', compare_path(:id => listing.id), :method => :post, :remote => true
              - if can? :edit, listing
                %li.edit= link_to 'Edit', edit_listing_path(listing)
              - if can? :destroy, listing
                %li.destroy= link_to 'Destroy', listing, :method => :delete
          %td.created_at <time datetime="#{listing.created_at.iso8601}" pubdate="pubdate" class="time-ago">#{time_ago_in_words listing.created_at} ago</time>
          %td.price= listing.price.zero? ? 'Free' : number_to_currency(listing.price)
  = paginate listings