<%= form_for @listing do |f| %>
  <%= render 'shared/form_errors', :target => @listing %>

  <span class="field">
    <span class="label"><%= f.label :description %></span>
    <span class="input"><%= f.text_field :description %></span>
  </span>

  <span class="field">
    <span class="label"><%= f.label :details %></span>
    <span class="input"><%= f.text_area :details %></span>
  </span>

  <span class="field">
    <span class="label"><%= f.label :price %></span>
    <span class="input"><%= f.text_field :price %></span>
  </span>

  <span class="submit"><%= f.submit %></span>
<% end %>