= form_for @listing, :html => { :multipart => true } do |f|
  = render 'shared/form_errors', :target => @listing
  %span.field
    %span.label= f.label :description
    %span.input= f.text_field :description
  %span.field
    %span.label= f.label :details
    %span.input= f.text_area :details
  %span.field
    %span.label= f.label :price
    %span.input= f.number_field :price
  %span.field  
    = f.fields_for :images do |image|
      %span.label= image.label :photo, "Image File"
      %span.input= image.file_field :photo
  %span.submit= f.submit