- include_javascripts 'tiny_mce/tiny_mce', 'listings_form'

= form_for @listing, :html => { :multipart => true } do |f|
  = render 'shared/form_errors', :resource => @listing
  .field.category
    .label= f.label :category_ids, 'Category'
    .input= f.collection_select :category_ids, Category.all, :id, :description, {}, {:tabindex => 1}
  .field.description
    .label= f.label :description
    .input= f.text_field :description, {:tabindex => 2}
  .field.price
    .label= f.label :price
    .input= f.text_field :price, {:class => 'currency', :tabindex => 4}
  .field.details
    .label= f.label :details
    .input= f.text_area :details, {:tabindex => 3}
  .field.images
    = f.fields_for :images do |image|
      - if image.object.new_record?
        .subfield.image-upload
          .label= image.label :photo, 'Image File'
          .input= image.file_field :photo
      - else
        .subfield.image
          .preview= link_to image_tag(image.object.photo.url(:thumb)), image.object.photo.url(:original)
          .remove #{image.check_box :_destroy} Remove image
    #add-image= link_to 'Add Another Image'
  .submit= f.submit :tabindex => 5