<%= form_for @listing do |f| %>
  <% if @listing.errors.any? %>
    <h1>Can&#8217;t create listing: <%= pluralize( @listing.errors.count, "error" ) %></h1>

    <ul class="errors">
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </p>
  <p>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </p>
  <p><%= f.submit %></p>
<% end %>
