= form_for @listing do |f|
  = render 'shared/form_errors', :target => @listing
  %span.field
    %span.label= f.label :description
    %span.input= f.text_field :description
  %span.field
    %span.label= f.label :details
    %span.input= f.text_area :details
  %span.field
    %span.label= f.label :price
    %span.input= f.number_field :price
  %span.submit= f.submit