%article.listing
  %h1.description= listing.description
  - unless listing.images.empty?
    .slider
      %ul.images
        - listing.images.each do |image|
          .image
            %a.fancybox-image{:href => image.photo.url(:original)}= image_tag image.photo.url(:small)
  %div.details= listing.details.markdown
  %p.created_at Added <time datetime="#{listing.created_at.iso8601}" pubdate="pubdate" class="time-ago">#{time_ago_in_words listing.created_at} ago</time>
  %p.price= listing.price.zero? ? 'Free' : number_to_currency(listing.price)
  %p.seller= link_to listing.seller.name, listing.seller
  %p.email= mail_to listing.seller.email, "Email #{listing.seller.name}", :encode => 'javascript'
  %footer
    %ul.actions
      - if can? :edit, listing
        %li.edit= link_to 'Edit', edit_listing_path(listing)
        %li.renew= link_to 'Renew', renew_listings_path(listing)
      - if can? :destroy, listing
        %li.destroy= link_to 'Destroy', listing, :method => :delete