<article class="listing">
  <header>
    <h1><%= link_to listing.description, listing %></h1>
    <p class="created_at">Created <time datetime="<%= listing.created_at.to_s(:db) %>" pubdate="pubdate"><%= listing.created_at %></time></p>
  </header>
  <div>
    <p class="details"><%= listing.details %></p>
    <p class="price"><%= listing.price %></p>
  </div>
  <footer>
    <ul class="manage">
      <% if can? :edit, listing %>
        <li class="edit"><%= link_to "Edit", edit_listing_path(listing) %></li>
      <% end %>
      <% if can? :destroy, listing %>
        <li class="destroy"><%= link_to "Destroy", listing, :confirm => 'Are you sure?', :method => :delete %></li>
      <% end %>
    </ul>
  </footer>
</article>