- classes = ['compact']
- classes << (listing.seller.signed? ? 'signed' : '')
- classes << (listing.expired? ? 'expired' : '')

%tr.row.listing{:id => listing.permalink, :class => classes.join(' ')}
  %td.starred.onecol
    - unless listing.expired?
      = render 'listings/listing_star', :listing => listing
  %td.image.onecol= listing.images.empty? ? '<span class="images-answer">No</span><span class="images-message">No Images</span>'.html_safe : '<span class="images-answer">Yes</span><span class="images-message">Images Provided</span>'.html_safe
  %td.description_and_details.fivecol
    .description= link_to listing.description, listing
    = render 'listings/listing_actions', :listing => listing
  %td.created_at.threecol <time datetime="#{listing.created_at.iso8601}" pubdate="pubdate" class="time-ago">#{time_ago_in_words listing.created_at} ago</time>
  %td.price.twocol.last= listing.price.zero? ? 'Free' : number_to_currency(listing.price)
