%tr.listing{:id => listing.permalink, :class => listing.seller.signed? ? 'signed' : ''}
  %td.starred
    - if session[:starred] and session[:starred].include?(listing.permalink)
      = link_to 'Unstar this listing', starred_path(:permalink => listing.permalink), :method => :put, :class => 'unstar', :remote => true
    - else
      = link_to 'Star this listing', starred_path(:permalink => listing.permalink), :method => :post, :class => 'star', :remote => true
  %td.image
    -unless listing.images.empty?
      .image= link_to( image_tag( listing.images.first.photo.url( :thumb ) ), listing )
  %td.description_and_details
    .description= link_to listing.description, listing
    .truncated-details= truncate strip_tags(listing.details.markdown), :length => 125, :omission =>"..."
    .extras
      .details= listing.details.markdown
      .seller Listed by #{link_to listing.seller.name, listing.seller} (#{mail_to listing.seller.email, listing.seller.email, :encode => 'javascript'})
    .toggle= link_to 'More &#187;'.html_safe, "##{listing.permalink}", :class => 'show-more'
    - if can? :edit, listing or can? :destroy, listing
      %ul.actions
        - if can? :edit, listing
          %li.edit= link_to 'Edit', edit_listing_path(listing)
        - if can? :renew, listing
          %li.renew= !listing.renewable? ? 'Renew' : link_to('Renew', renew_listings_path(listing), :remote => true)
        - if can? :publish, listing and can? :unpublish, listing
          %li.publicize= listing.published? ? link_to('Unpublish', unpublish_listings_path(listing), :remote => true, :class => 'unpublish', 'data-publish' =>  publish_listings_path(listing)) : link_to('Publish', publish_listings_path(listing), :remote => true, :class => 'publish', 'data-unpublish' =>  unpublish_listings_path(listing))
        - if can? :destroy, listing
          %li.destroy= link_to 'Destroy', listing, :method => :delete
  %td.created_at <time datetime="#{listing.created_at.iso8601}" pubdate="pubdate" class="time-ago">#{time_ago_in_words listing.created_at} ago</time>
  %td.price= listing.price.zero? ? 'Free' : number_to_currency(listing.price)