- classes = []
- classes << (listing.seller.signed? ? 'signed' : '')
- classes << (listing.expired? ? 'expired' : '')

%tr.row.listing{:id => listing.permalink, :class => classes.join(' ')}
  %td.starred.onecol
    - unless listing.expired?
      = render 'listings/listing_star', :listing => listing
  %td.image.twocol
    - unless listing.expired? or listing.images.empty?
      .image= link_to( image_tag( listing.images.first.photo.url( :thumb ) ), listing )
  %td.description_and_details.fivecol
    .description= listing.available? ? link_to(listing.description, listing) : listing.description
    .truncated-details= truncate strip_tags_and_spaces(listing.details.markdown), :length => 125, :omission =>"..."
    .extras
      .details= listing.details.markdown
      .seller Listed by #{link_to listing.seller.name, listing.seller} (#{mail_to listing.seller.email, listing.seller.email, :encode => 'javascript'})
    = render 'listings/listing_actions', :listing => listing
    .toggle= link_to 'More &#187;'.html_safe, "##{listing.permalink}", :class => 'show-more'
  %td.created_at.twocol <time datetime="#{listing.created_at.iso8601}" pubdate="pubdate" class="time-ago">#{time_ago_in_words listing.created_at} ago</time>
  %td.price.twocol.last= listing.price.zero? ? 'Free' : number_to_currency(listing.price)