<% content_for :sidebar do %>
  <%= form_tag nil, {:id => :search_listings} do %>
    <div class="fields">
      <%= field_set_tag nil, {:id => :search_keywords} do %>
        <p class="responder"><%= label_tag :keywords %><%= text_field_tag nil, :keywords, {:tabindex => 1} %></p>
      <% end %>
      <%= field_set_tag 'Category&nbsp;'.html_safe do %>
        <p><%= select_tag :categories, options_for_select(Category.all.collect { |category| [category.description, category.id] })%></p>
      <% end %>
      <%= field_set_tag "Tags (#{link_to 'All'} / #{link_to 'None'})&nbsp;".html_safe, {:id => :search_tags, :class => :folding} do %>
        <p><%= select_tag :tags, options_for_select(Listing.tag_counts_on(:tags).collect { |tag| tag = [tag.name, tag.id] }), :multiple => true %></p>
      <% end %>
      <%= field_set_tag "Price (#{link_to 'Reset'})&nbsp;".html_safe, {:id => :search_price, :class => :folding} do %>
        <p><%= label_tag :price_from, 'Between' %><%= number_field_tag :price_from %></p>
        <p><%= label_tag :price_to, 'and' %><%= number_field_tag :price_to %> USD</p>
      <% end %>
      <%= field_set_tag nil, {:id => :search_options, :class => :folding} do %>
        <p><%= check_box_tag :signed_sellers_only %><%= label_tag :signed_sellers_only, 'Limit to signed sellers' %></p>
        <p><%= check_box_tag :pictures_only %><%= label_tag :pictures_only, 'Listing must include picture' %></p>
        <p><%= check_box_tag :include_expired_listings %><%= label_tag :include_expired_listings, 'Include expired listings' %></p>
      <% end %>
      <%= link_to 'More', '#', { :class => 'hide' } %>
    </div>
    <div class="links">
      <p class="submit"><%= submit_tag 'Search' %></p>
      <ul>
        <li><%= link_to 'Save this search' %></li>
      </ul>
    </div>
  <% end %>
<% end %>

<% content_for :main do %>
  <% @listings.each do |listing| %>
    <div id="listing">
      <h3><%= link_to listing.description, listing_path(listing) %></h3>
      <p>For <%= listing.price %> (Created <%= listing.created_at.strftime('%b %d, %Y at %H:%M') %>)</p>
      <%= listing.details %>
      <%= link_to "Show", listing %>
      <% if can? :edit, listing %>
        <%= link_to "Edit", edit_listing_path(listing) %>
      <% end %>
      <% if can? :destroy, listing %>
        <%= link_to "Destroy", listing, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </div>
  <% end %>
  <% if can? :create, Listing %>
    <p><%= link_to "New Listing", new_listing_path %></p>
  <% end %>
<% end %>
