<% @title = "Listings" %>

<% content_for :top do %>
  <pre><code>content_for :top</code></pre>
<% end %>



<% content_for :sidebar do %>
  <pre><code>content_for :sidebar</code></pre>
<% end %>



<% content_for :main do %>
  <pre><code>content_for :main</code></pre>

  <% for listing in @listings %>
    <div id="listing">
      <h3><%= link_to listing.description, listing_path(listing) %></h3>
      <p>For <%= listing.price %> (Created <%= listing.created_at.strftime('%b %d, %Y at %H:%M') %>)</p>

      <%= listing.details %>

      <%= link_to "Show", listing %>
      <%# if can? :listing, listing %>
        <%= link_to "Edit", edit_listing_path(listing) %>
      <%# end %>
      <%# if can? :destroy, listing %>
        <%= link_to "Destroy", listing, :confirm => 'Are you sure?', :method => :delete %>
      <%# end %>
    </div>
  <% end %>

  <%# if can? :create, Listing %>
    <p><%= link_to "New Listing", new_listing_path %></p>
  <%# end %>
<% end %>



<% content_for :left do %>
  <pre><code>content_for :left</code></pre>
<% end %>



<% content_for :right do %>
  <pre><code>content_for :right</code></pre>
<% end %>



<% content_for :bottom do %>
  <pre><code>content_for :bottom</code></pre>
<% end %>