- listing = Listing.new
- content_for :sidebar do
  = search_form_for @search, :url => search_listings_path, :html => {:method => :post} do |f|
    = field_set_tag nil, {:id => :search_categories} do
      %span.field
        %span.label= f.label :categories_id_in, 'Categories'
        %span.input= f.collection_select :categories_id_in, Category.all, :id, :description, {}, {:tabindex => 1, :multiple => true}
    = field_set_tag nil, {:id => :search_keywords_seller_and_price} do
      %span.field
        %span.label= f.label :details_or_description_cont, 'Word or Phrase'
        %span.input= f.text_field :details_or_description_cont, {:tabindex => 2}
      %span.field
        %span.label= f.label :seller_name_eq, 'Seller Username'
        %span.label= f.text_field :seller_name_eq, {:tabindex => 3}
      %span.field
        %span.label= f.label :price_to_f_gt, 'More than $'
        %span.input= f.text_field :price_to_f_gt, {:tabindex => 4, :class => 'currency'}
      %span.field
        %span.label= f.label :price_to_f_lt, 'Less than $'
        %span.input= f.text_field :price_to_f_lt, {:tabindex => 5, :class => 'currency'}
    = field_set_tag nil, {:id => :search_options} do
      %span.field
        %span.input= f.check_box :seller_signed_true, {:tabindex => 6}
        %span.label= f.label :seller_signed_true, 'Limit to signed sellers'
      %span.field
        %span.input= check_box_tag :images_present, params[:images_present], @images_present, {:tabindex => 7}
        %span.label= label_tag :images_present, 'Listing must include image'
      %span.field
        %span.input= check_box_tag :include_expired, params[:include_expired], @include_expired, {:tabindex => 8}
        %span.label= label_tag :include_expired, 'Include expired listings'
      %span.field
        %span.label= label_tag :order, 'Sort by '
        %span.input= select_tag :order, options_for_select( Listing::ORDER_OPTIONS, params[:order] ), {:tabindex => 9}
    %ul.actions
      %li.submit= f.submit 'Search', {:tabindex => 10}
      %li.save#subscribe-to-search= link_to 'Subscribe to this search', search_listings_path(:format => :atom)

= render 'browser', :listings => @listings