- listing = Listing.new
- content_for :header do
  = form_for :search, :url => search_listings_path, :html => {:method => :post} do |f|
    = field_set_tag nil, {:id => :search_categories} do
      %span.field
        %span.label= f.label :categories
        %span.input= select_tag :categories, options_for_select( Category.all.collect { |category| [category.description, category.id] } ), :multiple => true
    = field_set_tag nil, {:id => :search_keywords} do
      %span.field
        %span.label= f.label :keywords
        %span.input= f.text_field :details_or_description_cont, {:tabindex => 1}
    = field_set_tag nil, {:id => :search_price} do
      %span.field
        %span.label= label_tag 'between'
        %span.input= number_field_tag :price_gt
        %span.label= label_tag 'and'
        %span.input= number_field_tag :price_lt
    = field_set_tag nil, {:id => :search_options} do
      %span.field
        %span.input= check_box_tag :seller_is_signed
        %span.label= label_tag 'Limit to signed sellers'
        %span.input= check_box_tag :images_not_empty
        %span.label= label_tag 'Listing must include image'
        %span.input= check_box_tag :include_expired
        %span.label= label_tag 'Include expired listings'
    %span.submit= f.submit 'Search'
    %ul.actions
      %li.save= link_to 'Save this search'

= render @listings