<p>Hi #{@listing.seller.name},
<br /><br />This is an automated message to let you knw that your listing <b>#{link_to @listing.description, listing_url(@listing)}</b> is now renewable.
You have until the end of the day before the listing is no longer publicly available, but you can renew any time in the next week by visiting <a href="#{renew_listing_url(@listing)}" title="Renew Listing">#{renew_listing_url(@listing)}</a> (<b>Note</b>: You may need to login first).
After one week the listing will expire and will no longer be public or renewable.
For more information about expiration and renewal, please take a look at the #{link_to 'About Marketplace', about_page_url} page.
If you have any questions or concerns you can reply to this email or send a message to the listhost (<a href="mailto:marketplace@lists.uchicago.edu" title="Marketplace List">marketplace@lists.uchicago.edu</a>).
<br /><br />Thanks,
<br />Marketplace Team</p>
