%tr.row.compact.user{:id => user.permalink}
  %td.name.threecol= link_to user.name, user
  %td.email_and_actions.sixcol
    .email= mail_to user.email
    %ul.actions
      %li.seller-role= link_to (user.seller? ? 'Revoke Seller Rights' : 'Grant Seller Rights'), admin_update_roles_path(user.permalink, :params => { :role => 'seller' }), :remote => true, :class => 'seller'
      - unless user.id == current_user.id
        %li.admin-role= link_to (user.admin?  ? 'Revoke Admin Rights' : 'Grant Admin Rights'), admin_update_roles_path(user.permalink, :params => { :role => 'admin' }), :remote => true, :class => 'admin'
        %li.lock-user= link_to(user.access_locked? ? 'Unlock Account' : 'Lock Account', admin_lock_user_path(user.permalink), :remote => true, :class => 'lock')
  %td.created_at.threecol.last= user.created_at