%tr.row.compact.user{:id => user.permalink}
  %td.name.threecol= link_to user.name, user
  %td.email_and_actions.sixcol
    .email= mail_to user.email
    %ul.actions
      %li.is-seller= update_roles_link(user, 'seller', user.seller? ? 'Revoke Seller Rights' : 'Grant Seller Rights')
      - unless user.id == current_user.id
        %li.is-admin= update_roles_link(user, 'admin',  user.admin?  ? 'Revoke Admin Rights' : 'Grant Admin Rights')
        %li.lock= link_to(user.access_locked? ? 'Unlock Account' : 'Lock Account', lock_user_path(user), :remote=> true, :class=>'lock')
  %td.created_at.threecol.last= user.created_at