- title @user.name
- content_for :top do
  - if user_signed_in? and @user.id == current_user.id
    %h1 Your Dashboard
  - else
    %h1 #{@user.name}&#8217;s Listings
- if user_signed_in? and @user.id == current_user.id
  = render 'sidebar', :user => @user
  - if @listings.empty?
    %p.sorry You have no listings posted
    %p= link_to 'Place your first listing', new_listing_path
  - else
    = render 'listings/browser', :listings => @listings
- else
  = render 'listings/browser', :listings => @listings unless @listings.empty?