- title @user.name
- content_for :top do
  - if user_signed_in? and @user.id == current_user.id
    %h1 Your Profile
  - else
    %h1 #{@user.name}&#8217;s Listings

%p.explanation Member since #{@user.created_at.to_s :day_month_and_year}. Get in contact with <strong>#{@user.name}</strong> via email at #{mail_to @user.email, @user.email, :encode => 'javascript'}.

- if user_signed_in? and @user.id == current_user.id
  - if @listings.empty?
    %p.sorry You have no listings posted
    %p= link_to 'Place your first listing', new_listing_path if @user.can? :create, Listing
  - else
    = render 'listings/browser', :listings => @listings
- else
  = render 'listings/browser', :listings => @listings unless @listings.empty?