<h1>Change your password</h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <span class="field">
    <span class="label"><%= f.label :password, "New password" %></span>
    <span class="input"><%= f.password_field :password %></span>
  </span>

  <span class="field">
    <span class="label"><%= f.label :password_confirmation, "Confirm new password" %></span>
    <span class="input"><%= f.password_field :password_confirmation %></span>
  </span>

  <span class="submit"><%= f.submit "Change my password" %></span>
<% end %>

<%= render :partial => "devise/shared/links" %>