- title 'Login'
%p.explanation If you had an account with the Marketplace prior to <b>February 2012</b> and have not already done so, #{link_to 'visit the registration page', "/register" } to create a new account before logging in.
%p.beta This is the beta version of Marketplace! Please visit <a href="http://marketplace.uchicago.edu">http://marketplace.uchicago.edu</a> for the full one.
- content_for :top do
  %h2 Login

= form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
  %span.field
    %span= f.label :email
    %span.input= f.text_field :email, :tabindex => autotab
  %span.field
    %span= f.label :password
    %span.input= f.password_field :password, :tabindex => autotab
  - if devise_mapping.rememberable?
    %span.field
      %span= f.label :remember_me
      %span.input= f.check_box :remember_me, :tabindex => autotab
  %span.submit= f.submit "Sign in", :tabindex => autotab, :class => "button"
= render :partial => "devise/shared/links"
