<h1>Sign in</h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <span class="field">
    <span class="label"><%= f.label :email %></span>
    <span class="input"><%= f.text_field :email %></span>
  </span>

  <span class="field">
    <span class="label"><%= f.label :password %></span>
    <span class="input"><%= f.password_field :password %></span>
  </span>

  <% if devise_mapping.rememberable? -%>
    <span class="field">
      <span class="label"><%= f.label :remember_me %></span>
      <span class="input"><%= f.check_box :remember_me %></span>
    </span>
  <% end -%>

  <span class="submit"><%= f.submit "Sign in" %></span>
<% end %>

<%= render :partial => "devise/shared/links" %>