= form_for @category do |f|
  = render 'shared/form_errors', :resource => @category
  %span.field
    %span= f.label :description
    %span.input= f.text_field :description
  %span.field
    %span= f.label :details
    %span.input= f.text_area :details
  %span.submit= f.submit "Submit", :class => "button"