- @category.description
%p <strong>Description:</strong> #{@category.description}
%p <strong>Details:</strong> #{@category.details}
%ul.edit
  %li= link_to 'Edit', edit_category_path(@category)
  %li= link_to 'Destroy', @category, :confirm => 'Are you sure?', :method => :delete
  %li= link_to 'View All', categories_path
- @listings.each do |listing|
  = render 'listings/listing', :listing => listing