%header.row
  %h1#marketplace-logo.threecol= root? ? SITE_NAME : link_to(SITE_NAME, :root)
  - if content_for? :top
    %div#top.ninecol.last
      = yield :top
  - else
    %div#marketplace-search.ninecol.last
      = render 'layouts/simple_search', :search => @search
  - unless flash.empty?
    #flashes.twelvecol.last
      - flash.each do |type, text|
        %p.flash{:class => type} <strong>#{type.capitalize}</strong>: #{text}
