%ul#site-toolbar.actions
  %li.starred= link_to 'Starred', starred_path
%ul#user-toolbar.actions
  - if user_signed_in?
    %li.show= link_to current_user.name, current_user
    %li.logout= link_to 'Logout', '/logout'
  - else
    %li.register= link_to 'Register', '/register'
    %li.login= link_to 'Login', '/login'
%header#marketplace
  %h1= root? ? SITE_NAME : link_to(SITE_NAME, :root)
  - unless controller_name == 'pages' or action_name == 'search'
    = search_form_for @search, {:id => :search_listings} do |f|
      = field_set_tag nil, {:id => :search_order} do
        %span.field
          %span.label= label_tag :order, 'Sort'
          %span.input= select_tag :order, options_for_select( Listing::ORDER_OPTIONS, params[:order] ), {:tabindex => 1}
      = field_set_tag nil, {:id => :search_keywords, :class => :inside_label} do
        %span.field
          %span.label= f.label :details_or_description_cont, 'Word or phrase'
          %span.input= f.text_field :details_or_description_cont, {:tabindex => 2}
      = field_set_tag nil, {:id => :search_categories} do
        %span.field
          %span.label= f.label :categories_id_positive_and_eq, 'Category'
          %span.input= f.select :categories_id_positive_and_eq, options_for_select( [['All Categories', 0]].concat( Category.all.collect { |category| [category.description, category.id] } ), params[:q].present? ? params[:q][:categories_id_positive_and_eq] : 0 ), {}, {:tabindex => 3}
      %ul.actions
        %li.submit= f.submit 'Search', {:tabindex => 4}
        %li.advanced= link_to 'Advanced search', search_listings_path