:ruby
  first_column_links = [
    ['Terms of Serivice', '/terms'],
    ['Privacy Policy', '/privacy'],
    ['Safety & Security', '/safety']
  ]
  second_column_links = [
    ['Issues & Abuse', '/issues'],
    ['About Marketplace', '/about'],
    ['FAQs', '/faqs']
  ]
  third_column_links = [
    ['System Status', '/status'],
    ['Place a Listing', new_listing_path]
  ]

#buyer-help.left
  %ul
    - first_column_links.each do |link|
      %li= link_to link[0], link[1]

#marketplace-help.center
  %ul
    - second_column_links.each do |link|
      %li= link_to link[0], link[1]

#seller-help.center
  %ul
    - third_column_links.each do |link|
      %li= link_to link[0], link[1]
    %li= link_to 'Your Profile', current_user if user_signed_in?
    %li= link_to 'Seller Login', new_user_session_path unless user_signed_in?

#copyright.right
  %ul
    %li Design by <%= link_to 'Chicago.app'
    %li &#169; 2011 The University of Chicago
    %li All rights reserved