%aside#sidebar.threecol
  - if user_signed_in? and current_user.admin?
    %ul.administration
      %li{:class  => selected_if(@action == 'admin#duplicates')}= link_to 'Manage duplicate listings', admin_duplicates_path
      %li{:class  => selected_if(@action == 'admin#users')}= link_to 'Manage current users', admin_users_path
      %li{:class  => selected_if(@action == 'admin#confirmations')}= link_to 'Manage pending confirmations', admin_confirmations_path
  %ul.actions
    %li.starred{:class => selected_if(@action == 'listings#starred')}= link_to 'Starred Listings', starred_listings_path          
    - if user_signed_in?
      %li.create{:class  => selected_if(@action == 'listings#new')}= link_to 'Place a listing', new_listing_path if current_user.can? :create, Listing
      %li.profile{:class => selected_if(@action == 'users#show' && @user.id == current_user.id)}= link_to 'Your listings', current_user
      %li.edit{:class    => selected_if(@action == 'users#edit')}= link_to 'Edit your account', edit_user_path(current_user)
      %li.logout= link_to 'Logout', "/users/sign_out"
    - else
      %li.register{:class => selected_if(@action == 'registrations#new')}= link_to 'Register', "/users/register"
      %li.login{:class => selected_if(@action == 'sessions#new')}= link_to 'Login', "/users/sign_in"
  - if content_for? :sidebar
    = yield :sidebar
  - elsif controller_name == 'pages'
    = render 'pages/sidebar'
  - elsif controller_name == 'users'
  - elsif @action == 'listings#new'
  - elsif @action == 'listings#edit'
  - else
    %ul.categories
      %li.category.all= categories_search_link
      - @categories.each do |category|
        %li.category= link_to category.description, category.description.downcase
      %li.category.free= link_to 'Free', free_listings_path