= search_form_for search, :html => { :id => 'simple_search', :class => 'row' } do |f|
  %div.medium-6.columns
    = f.text_field :details_or_description_cont_any, {:tabindex => autotab, :title => "Word or phrase"}
    = link_to 'Advanced search', search_listings_path
  %div.medium-3.columns
    = f.select :categories_id_positive_and_eq, options_for_select( [['All Categories', 0]].concat( Category.all.collect { |category| [category.description, category.id] } ), params[:q].present? ? params[:q][:categories_id_positive_and_eq] : 0 ), {}, {:tabindex => autotab, :title => "Category"}
  = hidden_field_tag :mode, params[:mode]
  = hidden_field_tag :order, params[:order]
  %div.medium-3.columns
    = f.submit 'Search', {:tabindex => autotab, :class => 'button tiny'}
