!!! 5
%html{html_attrs}
  %head
    %title= title
    %meta(charset='utf-8')
    %meta(name='description' content='')
    %meta(name='keywords'    content='')
    %meta(name='viewport'    content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    / %meta(name='copyright'   content='Copyright (c) 2011 The University of Chicago. All rights reserved.')
    = favicon_link_tag 'favicon.ico'
    - if action_name == 'search'
      = auto_discovery_link_tag :atom, {:format => 'atom'}
    - elsif resource?
      = auto_discovery_link_tag :atom, {:controller => 'categories', :action => 'index', :format => 'atom'}
    = javascript_include_tag 'application'
    = javascript_include_tag controller_name if resource?
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag controller_name if resource?
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Kreon:400,700'
    = csrf_meta_tags
    = yield :head
  %body(id=controller_name class="container #{action_name}")<
    = render 'layouts/header'
    #content.row
      %aside#sidebar.threecol
        :ruby
          def c state
            return 'selected' if state
            return ''
          end
        %ul.actions
          %li.starred{:class => c(controller_name == 'comparisons' && action_name == 'index')}= link_to 'Starred Listings', starred_path
          %li.create{:class  => c(controller_name == 'listings' && action_name == 'new')}= link_to 'Place a listing', new_listing_path
          - if user_signed_in?
            %li.profile{:class => c(controller_name == 'users'    && action_name == 'show')}= link_to 'View your profile', current_user
            %li.edit{:class    => c(controller_name == 'users'    && action_name == 'edit')}= link_to 'Edit your account', edit_user_path(current_user)
            %li.logout= link_to 'Logout', logout_path
          - else
            %li.register{:class => c(controller_name == 'registrations' && action_name == 'new')}= link_to 'Register', register_path
            %li.login{:class => c(controller_name == 'sessions' && action_name == 'new')}= link_to 'Login', login_path

        - if content_for? :sidebar
          = yield :sidebar
        - elsif controller_name == 'pages'
          = render 'pages/sidebar'
        - elsif controller_name == 'users'
        - elsif action_name == 'new' && controller_name == 'listings'
        - else
          %ul.categories
            %li.category.all= categories_search_link
            - @categories.each do |category|
              %li.category= categories_search_link(category)
      %section#main.ninecol.last
        = yield
    = render 'layouts/footer'
    - if Rails.env.development?
      #debug.row><= debug params