!!! 5
%html{html_attrs}
  %head
    %title= title
    %meta(charset='utf-8')
    %meta(name='description' content='The University of Chicago Marketplace is a space for students and University affiliates to buy and sell goods and services within the University community. The Marketplace is operated by the University of Chicago Student Government.')
    %meta(name='keywords'    content='marketplace,uchicago,chicago,university,sell,buy,student')
    %meta(name='viewport'    content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    = favicon_link_tag 'favicon.ico'
    - if action_name == 'search'
      = auto_discovery_link_tag :atom, {:format => 'atom'}
    - elsif resource?
      = auto_discovery_link_tag :atom, {:controller => 'categories', :action => 'index', :format => 'atom'}
    = javascript_include_tag 'application'
    = javascript_include_tag controller_name if resource?
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag controller_name if resource?
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Kreon:400,700'
    = csrf_meta_tags
    = yield :head
    %script(src='http://sg.uchicago.edu/sg-header/sg-header.js' type='text/javascript')
  %body(id=controller_name class="container #{action_name}")<
    = render 'layouts/header'
    #content.row
      %aside#sidebar.threecol
        %ul.actions
          %li.starred{:class => selected_if(@action == 'listings#starred')}= link_to 'Starred Listings', starred_listings_path          
          - if user_signed_in?
            %li.create{:class  => selected_if(@action == 'listings#new')}= link_to 'Place a listing', new_listing_path if current_user.can? :create, Listing
            %li.profile{:class => selected_if(@action == 'users#show' && @user.id == current_user.id)}= link_to 'View your profile', current_user
            %li.edit{:class    => selected_if(@action == 'users#edit')}= link_to 'Edit your account', edit_user_path(current_user)
            %li.logout= link_to 'Logout', logout_path
          - else
            %li.create{:class  => selected_if(@action == 'listings#new')}= link_to 'Place a listing', new_listing_path
            %li.register{:class => selected_if(@action == 'registrations#new')}= link_to 'Register', register_path
            %li.login{:class => selected_if(@action == 'sessions#new')}= link_to 'Login', login_path

        - if content_for? :sidebar
          = yield :sidebar
        - elsif controller_name == 'pages'
          = render 'pages/sidebar'
        - elsif controller_name == 'users'
        - elsif @action == 'listings#new'
        - else
          %ul.categories
            %li.category.all= categories_search_link
            - @categories.each do |category|
              %li.category= categories_search_link(category)
      %section#main.ninecol.last
        = yield
    = render 'layouts/footer'
    - if Rails.env.development?
      #debug.row><= debug params