!!! 5
%html{html_attrs}
  %head
    %title= title
    %meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    %meta(name='description' content='')
    %meta(name='keywords'    content='')
    / %meta(name='copyright'   content='Copyright (c) 2011 The University of Chicago. All rights reserved.')
    - if action_name == 'search'
      = auto_discovery_link_tag :atom, {:format => 'atom'}
    - elsif resource?
      = auto_discovery_link_tag :atom, {:controller => 'categories', :action => 'index', :format => 'atom'}
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag controller_name if resource?
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Kreon:400,700'
    = csrf_meta_tags
    = yield :head
  %body(id=controller_name class=action_name)<
    = render 'layouts/header'
    #content
      %aside#sidebar
        - if content_for? :sidebar
          = yield :sidebar
        - else
          %ul.categories
            %li.category.all= categories_search_link
            - @categories.each do |category|
              - if params[:id] == category.description.downcase
                %li.category.selected= categories_search_link(category)
              - else
                %li.category= categories_search_link(category)
      %section#main
        - unless flash.empty?
          #flashes
            - flash.each do |type, text|
              %p{:class => type}= text
        = yield
      .clear
    = render 'layouts/footer'
    - if Rails.env.development?
      #debug><= debug params
    = javascript_include_tag 'application'
    = javascript_include_tag controller_name if resource?