!!! 5
%html{html_attrs}
  %head
    %title= title
    %meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    %meta(name='description' content='')
    %meta(name='keywords'    content='')
    %meta(name='copyright'   content='Copyright (c) 2011 The University of Chicago. All rights reserved.')
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag controller_name if resource?
    = javascript_include_tag 'application'
    = javascript_include_tag controller_name if resource?
    :javascript
        var uvOptions = {};
        (function() {
         var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
         uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/0cmgBnGZirSJmAkYqnrTg.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
        })();

    
    = csrf_meta_tags
    = yield :head
  %body(id=controller_name class=action_name)<
    = render 'layouts/header'
    #content
      %aside#sidebar
        - if content_for? :sidebar
          = yield :sidebar
        - else
          %ul.categories
            - @categories.each do |category|
              %li.category= link_to category.description, category
      %section#main
        - unless flash.empty?
          #flashes
            - flash.each do |type, text|
              %p{:class => type}= text
        = yield
      .clear
    = render 'layouts/footer'
    - if Rails.env.development?
      #debug><= debug params
