<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta name="description" content="" />
  	<meta name="keywords" content="" />
  	<meta name="copyright" content="Copyright (c) 2011 The University of Chicago. All rights reserved.">

    <script src="http://use.typekit.com/mnr5ksq.js"></script>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <%= render :partial => 'layouts/header' %>
    <%= render :partial => 'layouts/flashes' %>

    <div>
      <div class="top">
        <%= yield :top %>
      </div>

      <div class="middle">
        <%= yield %>

        <aside class="sidebar">
          <%= yield :sidebar %>
        </aside>

        <section class="main">
          <%= yield :main %>
        </section>

        <div class="left">
          <%= yield :left %>
        </div>

        <div class="right">
          <%= yield :right %>
        </div>
      </div>

      <div class="bottom">
        <%= yield :bottom %>
      </div>
    </div>

    <%= render :partial => 'layouts/footer' %>
  </body>
</html>