<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta name="description" content="" />
  	<meta name="keywords" content="" />
  	<meta name="copyright" content="Copyright (c) 2011 The University of Chicago. All rights reserved.">
    <script type="text/javascript" src="http://use.typekit.com/mnr5ksq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag controller_name if resource? %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body id="<%= controller_name %>" class="<%= action_name %>">
    <%= render 'layouts/header' %>
    <div id="content">
      <aside id="sidebar">
        <ul class="categories">
          <% @categories.each do |category| -%>
            <li class="category"><%= link_to category.description, category %></li>
          <% end -%>
        </ul>
      </aside>
      <section id="main">
        <div id="flashes">
          <% flash.each do |type, text| %>
            <p class="<%= type %>"><%= text %></p>
          <% end %>
        </div>
        <%= yield %>
        <%= yield :main %>
      </section>
      <div class="clear"></div>
    </div>
    <footer>
      <%= render 'layouts/help' %>
    </footer>
    <% if Rails.env.development? %>
    	<div id="debug">
    	  <%= debug(params) %>
  	  </div>
	  <% end %>
  </body>
</html>