<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta name="description" content="" />
  	<meta name="keywords" content="" />
  	<meta name="copyright" content="Copyright (c) 2011 The University of Chicago. All rights reserved.">
    <script type="text/javascript" src="http://use.typekit.com/mnr5ksq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag controller_name if resource? %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body id="<%= controller_name %>" class="<%= action_name %>">
    <div id="content">
      <aside id="sidebar">
        <h1><%= root? ? SITE_NAME : link_to(SITE_NAME, :root) %></h1>
        <% if content_for? :sidebar %>
          <%= yield :sidebar %>
        <% else %>
          <p>&nbsp;</p>
        <% end %>
      </aside>
      <section id="main">
        <div id="flashes">
          <% flash.each do |type, text| %>
            <p class="<%= type %>"><%= text %></p>
          <% end %>
        </div>
        <%= yield %>
        <%= yield :main %>
      </section>
      <div class="clear"></div>
    </div>
    <%= render :partial => 'layouts/footer' %>
  </body>
</html>
