!!! 5
%html{html_attrs}
  %head
    %title= title
    %meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    %meta(name='description' content='')
    %meta(name='keywords'    content='')
    %meta(name='copyright'   content='Copyright (c) 2011 The University of Chicago. All rights reserved.')
    %script(type='text/javascript' src='http://use.typekit.com/mnr5ksq.js')
    %script(type='text/javascript')
      try{Typekit.load();}catch(e){}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = javascript_include_tag controller_name if resource?
    = csrf_meta_tags
    = yield :head
  %body(id=controller_name class=action_name)<
    = render 'layouts/header'
    #content
      %aside#sidebar
        %ul.categories
          - @categories.each do |category|
            %li.category= link_to category.description, category
      %section#main
        #flashes
          - flash.each do |type, text|
            %p{:class => type}= text
        = yield
      .clear
    = render 'layouts/footer'
    - if Rails.env.development?
      #debug><= debug params